@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    box-sizing: border-box;
}

body{
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}
h1{
    font-weight: bold;
    margin: 0;
}
h2{
    text-align: center;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin:20px 0 30px ;
}
span{
    font-size: 12px;
}
a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input{
    background: rgba(233, 229, 229, 0.977);
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
button{
    border-radius: 20px;
    border: 1px solid red;
    background: rgb(238, 138, 138);
    color: rgb(5, 66, 66);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition:transform 80ms ease-in;
}
button:active{
    transform: scale(0.80);
}
button:focus{outline: none;}
button.ghost{
    background: transparent;
    border-color: #fff;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6 ease-in-out;
}
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;      
}
.signup-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.social-container{
    margin: 20px 0;
}
.social-container a{
    border: 1px solid red;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.overlay{
    background: rgb(212, 61, 61);
    background: linear-gradient(to right, rgb(236, 70, 70), #e2325b) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6 ease-in-out;
}
.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.overlay-left{
    transform: translateX(-20%);
}

/* ANIMATIONS */
/* Move SignIn to the Right */
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}
/* move overlay to left */
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
/* Bring signUp over sign in */
.container.right-panel-active .signup-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
/* Move overlay back to right */
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}
/* footer */

footer {
    background-color: rgb(63, 55, 55);
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}
footer a{
    color: rgb(255, 0, 179);
}
footer p{margin: 10px 0;}
